.contenedor p ~ p{
	color: yellow;
}
li{
	display: inline-block;
	margin: 10px;
}
li a{
	text-decoration: none;
}
li a:hover{
	background-color: pink;
}
li a:link{
	color: orange;
}
li a:visited{
	color: green;
}
li a:active{
	color: yellow;
}
input:focus{
	background: yellow;
}
input:checked{
	display: none;
}
a[href*=".com"]{
	background-color: purple;
}